#container {
    display: grid;
    grid-template-columns: 1fr 100px 300px 100px 1fr;
    grid-template-rows: 1fr 100px 100px 100px 1fr;
    grid-template-areas:
    ". you . computer ."
    ". scoreHuman separator scoreComputer ."
    ". . message . ."
    ". . buttons . .";
}

#you {
    grid-area: you;
    justify-self: center;
    align-self: center;
}

#computer {
    grid-area: computer;
    justify-self: center;
    align-self: center;
}

#scoreHuman {
    grid-area: scoreHuman;
    justify-self: center;
    align-self: center;
    font-size: 100px;
}

#separator {
    grid-area: separator;
    justify-self: center;
    align-self: center;
    font-size: 100px;
}

#scoreComputer {
    grid-area: scoreComputer;
    justify-self: center;
    align-self: center;
    font-size: 100px;
}

#message {
    grid-area: message;
    justify-self: center;
    align-self: center;
}

#buttons {
    display: flex;
    flex-direction: row;
    grid-area: buttons;
    justify-self: center;
    align-self: center;
    -webkit-appearance: none;
}